* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.glow {
    position: fixed;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: radial-gradient(circle, #3f5db8, #194ed6);
    pointer-events: none;
    filter: blur(150px);
    z-index: -1;
}

.h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    box-sizing: border-box;
    display: flex;
    background-color: #122045;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.nombre :not(:last-child) {
    border: 5x solid white !important;
    margin: 0 auto 25px;
}

.container-aside {
    width: 50%;
    height: 90vh;
    margin: auto 0;
}

.container-main {
    width: 50%;
    min-height: 100vh;
}

.aside-portafolio {
    display: flex;
    color: azure;
    width: 50%;
    height: 90vh;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    padding-left: 20px;
}

.main-portafolio {
    width: 90%;
    height: 100vh;
    position: relative;
}

.ul-menu {
    list-style-type: none;
    width: 250px !important;
}

.icon-redes {
    width: 30px;
    height: 30px;
}

.ul-menu a {
    list-style: none;
    text-decoration: none;
    color: azure;
}

.redes a:not(:last-child) {
    margin-right: 20px;
}

.icon-redes {
    transition: transform 0.1s ease-in-out;
}

.icon-redes:hover {
    transform: translateY(-2px);
}

.nav-menu ul {
    margin: 0;
    padding: 0;
}

.nav-menu ul li:not(:last-child) {
    margin-bottom: 20px;
}

.nav-menu ul li {
    list-style-type: none;
    position: relative;
    padding-left: 50px;
}

.nav-menu ul li::before {
    left: 0;
    position: absolute;
    content: '———';
    font-size: 15px;
    margin-right: 10px;
    transform-origin: left;
}

.nav-menu ul li:hover {
    padding-left: 100px;
    cursor: pointer;

    &&::before {
        transform: scaleX(2);
        transition: transform 0.2s ease;
    }
}

.cv {
    list-style: none;
    text-decoration: none;
    background-color: #183656;
    padding: 5px 8px;
    width: 200px;
    text-align: center;
    color: white;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.cv:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.main-about {
    color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* proyectos personales */
.main-experience {
    width: 100%;
    height: auto;
    color: azure;
    padding-bottom: 20px;
}

.card-proyects {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    &&:hover {
        background-color: #17264B;

    }
}

.divisor {
    flex-direction: column;
}

.card-proyects:hover h5 {
    color: #52d5e0;
}

.personal-proyects {
    width: 100%;
    margin-top: 20px;
}

.flecha-tarjeta {
    width: 20px;
    height: 15px;
    font-size: 20px;
    transform: translateY(-3px);
    transition: transform 0.1s ease;

}

.card-proyects:hover .flecha-tarjeta {
    transform: translateY(-6px) translateX(4px);
    color: #52d5e0;
}

.image-card {
    width: 100px;
    height: 100px;
    padding-top: 5px 5px;
}

.tecnologías {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.tecnologías li {
    background-color: #183656;
    padding: 4px 12px;
    border-radius: 40%;
    margin-bottom: 5px;
    color: #48B1BA;
    font-weight: bold;
}

.tecnologías li:not(:last-child) {
    margin-right: 20px;
}

.titulo-tarjeta {
    list-style: none;
    text-decoration: none;
    color: beige;
    display: flex;
    margin-right: 4px;
}

.separador {
    margin-left: 10px;
}

/* lenguajes */
.languajes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cotainer-lenguajes {
    width: 180px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.image-lenguaje {
    width: 100px;
    animation: giro 10s infinite linear;
    padding-top: 10px;
}

@keyframes giro {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.name-languaje {
    text-align: center;
    margin-bottom: 0 !important;
    font-size: large;
    font-weight: 500;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}


.final {
    color: white;
    padding-bottom: 20px;
}

.final a {
    text-decoration-color: #52d5e0;
}

.final a:hover {
    color: #52d5e0;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .container-aside {
        width: 90vw;
        height: 90vh;
        margin: auto 0;
        min-height: 90vh;
        border: 1px solid red;
    }

    .aside-portafolio {
        position: absolute;
        width: 90%;
        margin: auto auto;
        height: 90vh;
        justify-content: space-around;
    }

    .nav-menu {
        display: none;
    }

    .container-main {
        width: 90vw;
        min-height: 100vh;
        margin: 0 auto;
        border: 1px solid white;
    }
}

@media (min-width: 840px) {
    .nombre p {
        width: 90%;
    }
}